.top_container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: lightsalmon;
  gap: 20px; 
  height: 75px;
  margin: auto;
  width: 50%;
  padding: 5px;

}

.top_container div {
  background-color: lightgray;
  border: 1px solid black;
  margin: 0px;
  font-size: 20px;
  text-align: center;
  
}

.bottom_container {
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
  margin: auto;
  width: 50%;
}

.bottom_container div {
  background-color: lightgray;
  padding: 15px;
  font-size: 10px;
  text-align: center;
}